@charset "utf-8";

/**
 * stylecontact.css
 *
 * @author 
 * @version 2013/03/18
 */

form.form input[type="text"], form.form input[type="email"], form.form input[type="password"]{
	width:300px;
}

form.form textarea{ 
	width:550px;
	max-width:550px;
	height:100px;
	max-height:200px;
}

form.form label{
	font-weight:bold;
}
