{% extends '::base.html.twig' %}

{% block body %}
<div class="well">
	<div class="alert alert-error">
		Error 403 : Vous n'avez pas les autorisations nécessaires pour accéder à cette page. Reconnectez-vous sous un autre identifiant.
	</div>
</div>

{% endblock %}