{% extends '::base.html.twig' %}

{% block body %}
<<<<<<< HEAD

<h6>Hello ! </h6>

{% endblock %}

{% block connexion %}
<button class="btn btn-primary" onclick="">Connexion</button>
=======
<h6>Hellome ! </h6>
{% endblock %}

{% block connexion %}
>>>>>>> af4e1e011e1e682d61123aff23e4dcb5b0641aeb
{% endblock %}
