<!DOCTYPE html>

<html>
<head>
  <title>Iaato</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/Iaato/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
</head>
<!-- Debut du header-->
<header>
<!--
<img src="/Iaato/img/iceberg.jpg">
-->
</header>
<!-- bar de navigation -->
<div class="navbar">
<div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Welcome to IAATO</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#contact">Connexion</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>
<body>
<div id="1">
	{{ content }}
</div>
</body>
<footer>
<h2>Un footer de ouf</h2>
</footer>
</html>
