{% extends '::base.html.twig' %}

{% block body %}

<p>Nom : {{ nom }}</p>
<p>Email : {{ email }}</p>
<p>Sujet : {{ sujet }}</p>
<p>Message : {{ message }}</p>

{% endblock %}

{% block connexion %}
<button class="btn btn-primary" onclick="">Connexion</button>
{% endblock %}
