{% extends '::base.html.twig' %}
{% block body %}
<div class="well">
	<p>Ici, vous pouvez modifier les données concernant les comptes et privilèges des utilisateurs.</p>
	<h3>Ajout d'un utilisateur</h3>
	<form method="post" {{ form_enctype(form_add) }} class="form">
		{{ form_errors(form_add) }}
		{{ form_rest(form_add) }}
		<input type="submit" value="Envoyer" class="btn btn-primary" />
	</form>
	<h3>Suppression d'un utilisateur</h3>
	
	
</div>

{% endblock %}

