
{% extends '::base.html.twig' %}

{% block body %}
<div class="well">

<ul class="nav">
	<a class="btn btn-info" href="{{ path('iaato_type') }}" >Show</a>
	<a class="btn btn-info" href="{{ path('iaato_type_add') }}" >Add</a>	
	<a class="btn btn-info" href="{{ path('iaato_type_remove') }}" >Remove</a>
</ul>
<h3>INDEX-TYPE</h3>
</div>
{% endblock %}
